<!DOCTYPE html>
<html>
<head>
    <title>Joe's Place Pizza and Pasta</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/portfolio.css" type="text/css"/>
</head>
<body id="home-body">
<h1 id="title">Joe's Place Pizza and Pasta</h1>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-4 parent">
            <a href="{% url 'portfolio:menu'%}" class="centered-home-btn">
                <div class="btn btn-danger home-btn">Menu</div>
            </a>
        </div>
        <div class="col-md-4 parent">
            <a href="{% url 'portfolio:specials'%}" class="centered-home-btn">
                <div class="btn btn-danger home-btn">Specials</div>
            </a>
        </div>
        <div class="col-md-4 parent">
            <a href="{% url 'portfolio:catering'%}" class="centered-home-btn">
                <div class="btn btn-danger home-btn">Catering</div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 parent">
            <a href="{% url 'portfolio:contact_us'%}" class="centered-home-btn">
                <div class="btn btn-danger home-btn">Contact Us</div>
            </a>
        </div>

        <div class="col-md-4 parent">
            <a href="{% url 'portfolio:about_us' %}" class="centered-home-btn">
                <div class="btn btn-danger home-btn">About Us</div>
            </a>
        </div>
        <div class="col-md-4 parent">
            <a href="{% url 'portfolio:events'%}" class="centered-home-btn">
                <div class="btn btn-danger home-btn">Fundraisers & Events</div>
            </a>
        </div>

    </div>
</div>
</body>
</html>
